# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore Python virtual environment
backend/virt/

# Ignore Python stuff
*.pyc
__pycache__/
*.pyo
*.pyd
env/
venv/
.Python
db.sqlite3

# Django or Flask .env
*.env

# Node.js

frontend/.env

# Mac/Windows system files

Thumbs.db

